@font-face {
  font-family: "MS Dos";
  src: url("./font/DOS-VGA-437.ttf");
}

@font-face {
  font-family: "PX Sans";
  src: url("./font/px_sans_nouveaux.ttf");
}

:root {
  --desktop-colour: #008484;
  --windows-grey: #c3c7cb;
  --menubar-blue: #010479;
  --border-light: #ffffff;
  --border-dark: #6d6d6d;
}

html,
body {
  font-family: "MS Dos";
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  cursor: url("./image/cursor.svg"), auto;
}

button {
  cursor: url("./image/cursor.svg"), auto;
}

#boot-wrapper {
  box-sizing: border-box;
  padding: 2%;
  font-family: "MS Dos";
  font-size: 32px;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  color: white;
}

.bootText {
  height: 50px;
}

#screen-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#desktop-wrapper {
  width: 100vw;
  background-color: var(--desktop-colour);
  flex-grow: 1;
}

#desktop {
  height: 98%;
  width: 98%;
  padding: 1%;
}

#taskbar-wrapper {
  display: flex;
  width: 100%;
  height: 40px;
}

#taskbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--windows-grey);
  border-top: 1px solid var(--border-light);
  outline: 1px solid var(--windows-grey);
}

#start-button-wrapper {
  display: flex;
  height: 100%;
  width: 80px;
  align-items: center;
}

#start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 80%;
  width: 90%;
  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
  font-family: "MS Dos";
  color: black;
  background-color: var(--windows-grey);
  font-size: 16px;
}

#start-button:active {
  background-color: #babfc3;
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  border-top: 2px solid var(--border-dark);
  border-left: 2px solid var(--border-dark);
}

#start-menu-wrapper {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 5px;
  height: 450px;
  width: 300px;
  border-right: 2px solid var(--border-dark);
  border-bottom: 2px solid var(--border-dark);
  border-top: 2px solid var(--border-light);
}

#start-menu {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
  width: 100%;
  height: 100%;
}

#start-menu-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--border-dark);
  border-left: 2px solid var(--border-light);
}

#start-menu-logo {
  width: 20%;
  height: 100%;
  background-color: var(--border-dark);
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 70px;
  margin: 20px;
  align-items: center;
  user-select: none;
}

.icon-wrapper:hover {
  filter: brightness(90%);
}

.icon-wrapper:active {
  filter: brightness(120%);
}

.icon {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: crisp-edges;
}

.icon-label {
  color: white;
}

.icon-focused {
  outline: darkgray dashed thin;
}

.icon-not-focused {
  outline: none;
}

#system-tray-wrapper {
  height: 100%;
  width: 90px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

#system-tray {
  background-color: var(--windows-grey);
  border-top: 1px solid var(--border-dark);
  border-left: 1px solid var(--border-dark);
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  height: 80%;
  width: 100%;
  margin-right: 5%;
}

#clock-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.start-menu-item-wrapper {
  width: 100%;
  height: 80px;
  color: black;
  font-size: 150%;
  display: flex;
}

.start-menu-item-wrapper:hover {
  color: white;
  background-color: var(--menubar-blue);
}

.start-menu-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 98%;
  width: 98%;
  margin: 1% 0 0 1%;
}

.start-menu-item-image {
  height: 80%;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: crisp-edges;
}

.window-wrapper {
  position: absolute;
  flex-direction: column;
  padding: 4px;
  background-color: var(--windows-grey);
  border-right: 3px solid #112122;
  border-bottom: 3px solid #112122;
  border-left: 3px solid #eef0ea;
  border-top: 3px solid #eef0ea;
}

.window-open {
  display: flex;
}

.window-minimised {
  display: none;
}

.window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.window-title-bar-container {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: 30px;
  width: 100%;
}

.title-bar {
  display: flex;
  flex-direction: row;
  background-color: var(--menubar-blue);
  width: 100%;
}

.window-title-bar-draggable {
  display: flex;
  flex: 1 1 auto;
}

.title-bar-icon-wrapper {
  width: 30px;
  height: 30px;
}

.title-bar-label-wrapper {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 140%;
}

.title-bar-label {
  color: white;
}

.window-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  align-items: center;
}

.window-control-wrapper {
  display: flex;
  height: 24px;
  width: 24px;
  margin: 0 4px 0 4px;
}

.window-control {
  height: 100%;
  width: 100%;
  background-color: var(--windows-grey);
  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.window-control:active {
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  border-top: 2px solid var(--border-dark);
  border-left: 2px solid var(--border-dark);
}

.window-min {
  background-image: url(./image/minimise.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.window-max {
  background-image: url(./image/maximise.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.window-close {
  background-image: url(./image/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.window-toolbar-wrapper {
  display: flex;
  flex-grow: 0;
  width: 100%;
  height: 30px;
  font-family: "PX Sans";
  font-size: 70%;
  user-select: none;
}

.window-toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.window-toolbar-item {
  margin: 0 10px 0 10px;
}

.window-file-container-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
}

.window-file-container {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff;
  border-left: 2px solid #434547;
  border-top: 2px solid #434547;
  border-right: 1px solid #e1e3e5;
  border-bottom: 1px solid #e1e3e5;
}

.window-details-panes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}

.window-detail-pane-wrapper {
  display: flex;
  width: 50%;
  height: 80%;
}

.window-detail-pane {
  height: 98%;
  width: 98%;
  border-left: 2px solid #8c8c8c;
  border-top: 2px solid #8c8c8c;
  border-right: 2px solid #e1e3e5;
  border-bottom: 2px solid #e1e3e5;
}

.window-detail-pane-left-wrapper {
  justify-content: flex-start;
}

.window-detail-pane-right-wrapper {
  justify-content: flex-end;
  position: relative;
}

/* The visual handle */
.window-resize-handle {
  width: 20px;
  height: 20px;
  background-image: url("./image/resize-handle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* The draggable element */
.resize-handle {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: black;
  opacity: 0%;
}

.resize-handle:hover {
  cursor: url("./image/resize-cursor.svg"), auto;
}

.taskbar-window-wrapper {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
}

.taskbar-window {
  font-size: 16px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.taskbar-window-open {
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  border-top: 2px solid var(--border-dark);
  border-left: 2px solid var(--border-dark);
}

.taskbar-window-minimised {
  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
  border-bottom: 2px solid var(--border-dark);
  border-right: 2px solid var(--border-dark);
}

.taskbar-window-icon-wrapper {
  height: 100%;
  width: 20%;
}

.taskbar-window-label-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.taskbar-window-label {
  margin-left: 5%;
}
